<html>
    <head>
        {% include 'base.html' %}
        <style>
            .vertical-center {
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
              }
        </style>
    </head>
    <body><br>
        <div class="container " >
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <center>
                        {% if messages %}
                        <ul class="messages">
                            <ul class="messages">
                                {% for message in messages %}
                                    <p style="color:red"> {{ message }} </p>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </center>
                </div>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="container" >
                <div class="row">
                    <div class="col-md-4 offset-4">
                        <h2 style="text-align: center">Change Password</h2>
                        <label"> New Password : </label>
                        <input type="password" class="form-control" name="password" required>
                        <label"> Confirm Password : </label>
                        <input type="password" class="form-control" name="confirm_password" required><br>
                        <button class="btn btn-success " >submit</button><br><br>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>

